<div id="step1" class="container step-box">

  <div class="row steps">
    <div class="col-xs-12">
      <div class="step-container step-advance">
        <span class="step-number">1</span>
        Select messages
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>

      <div class="step-container hidden-xs">
        <span class="step-number">2</span>
        Enter your data
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>

      <div class="step-container hidden-xs">
        <span class="step-number">3</span>
        Pay
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
        
      <div class="step-container hidden-xs">
        <span class="step-number">4</span>
        Receive daily e-mails!
      </div>
    </div>
  </div>

  <div class="row">
    <% products.forEach(function(r) { %>
      <div class="col-sm-6 col-md-4 product">
        <div class="thumbnail">

          <img src="/img/product/<%= "thumbnail" + r.id + ".png" %>" alt="<%= r.name %>">

          <div class="caption">

            <h2 class="pull-right">$<%= r.price %></h2>
            <h3><%= r.name %></h3>
            <p><%= r.description %></p>

            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[<%= r.id %>]" disabled="disabled">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
              <input type="text" name="quant[<%= r.id %>]" data-product-id="<%= r.id %>" data-product-name="<%= r.name %>" data-product-price="<%= r.price %>" class="form-control input-number" value="0" min="0" max="100">
              <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[<%= r.id %>]">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>

          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <button id="btn-buy" type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Buy now!
          </button>
          <p class="pull-right">Have a discount code? Enter it during payment!</p>
        </div>
      </div>
    </div>
  </div>

</div>